# Byte-compiled / optimized / DLL files
__pycache__/
PathSearch/__pycache__/*
PathSearch/logs

.DS_Store
.snakemake/log/*
.snakemake/metadata/*
Output/*
Output_MGMLink_CaseStudies/*
Output_MGMLink_CaseStudies.zip
PathSearch/logs/*
KG_Resources/*

Output/*
!Output/metapaths
!Output/manuscript_example_input.csv